<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How India Lives</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/search.css" />
    <script src="scripts/search.js"></script>

</head>
<body>

    <div class="search-box">
        <input type="text" placeholder="Search Districts" class="search-field" />
        <!--
        <div class="custom-search" >
            <i class="material-icons md-24" id="s_icon">search</i>
        </div>
        <div class="custom-close" >
            <i class="material-icons md-24" id="c_icon">close</i>
        </div>
        -->
        
    </div>    
</body>
</html>