<!DOCTYPE html>
<html>

<head>

    <title>Search - States or Districts</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
    
    <!-- Link the CSS file-->
    <link rel="stylesheet" href="styles/search_page.css">
    
</head>

<body>

    <center>
        <h1 style="padding-top: 12%">SEARCH</h1>
        <br><br><br>
        <input type="text" id="search_bar" placeholder="Enter State/District Name">
        <br>
        <input type="button" id="search" value="Search" onclick="search_click()">
        <br><br><br>

        <h4 id="search_status"></h4>
        <br><br>
        <h5 id="search_result"></h5>
        <br><br>

        <input type="button" id="continue" onclick="continue_click()" value="Continue" style="display: none;"> 
    </center>

</body>

<!-- Link the js file-->
<script type="text/javascript" src="javascripts/search_page.js"></script>

</html> 