<!DOCTYPE <!DOCTYPE html>
<html>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>
  <script src="scripts/typeahead.bundle.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript" src="scripts/utils.js"></script>
  <script src="scripts/search.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  <!-- <link rel="stylesheet" href="styles/statistics.css"> -->
  <link rel="stylesheet" type="text/css" media="screen" href="styles/search.css" />
  <link rel="stylesheet" href="styles/circle.css">
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>How India Lives</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="custom-container">
  <div class="bg" id="b">
  <div class="bg-layer" id="c">
  </div>  
  </div>

  <div class="container-fluid">
      <nav>
          <div class="nav nav-pills justify-content-end fixedtop" id="nav-pills" role="tablist">
            <a class="nav-item nav-link active" id="nav-search-pill" data-toggle="tab" href="#nav-search" role="pill" aria-controls="nav-search" aria-selected="true">Search</a>
            <a class="nav-item nav-link" id="nav-advanced-pill" data-toggle="tab" href="#nav-advanced" role="pill" aria-controls="nav-advanced" aria-selected="false">Overview</a>
          </div>
        </nav>
        
  <div class="title">
    <div class="title-text"> 
      <span id="normal">How</span>
      <span id="indian"> India </span>  
      <span id="normal">lives</span>
    </div>
  </div>
    
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-search" role="tabpanel" aria-labelledby="nav-search-pill">
        <div id="search-box" class="search-box">
          <input class="typeahead" type="text" placeholder="Search Districts">
        </div>
        <div id="results-box" class="results-box">
          <div class="row" id="results"> 
                      
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-advanced" role="tabpanel" aria-labelledby="nav-advanced-pill">
        <div id="options-box" class="search-box">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle long-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose Option
            </button>
            <div class="dropdown-menu">
              <a id="TOT_P" class="dropdown-item" href="#">Population</a>
              <a id="P_LIT" class="dropdown-item" href="#">Literacy Rate</a>
              <a id="NON_WORK_P" class="dropdown-item" href="#">Unemployement Rate</a>
              <a id="MAIN_AL_P" class="dropdown-item" href="#">Percent of Agricultural Labourers</a>
              <a id="P_SC" class="dropdown-item" href="#">Percent of Scheduled Caste People</a>
              <a id="P_ST" class="dropdown-item" href="#">Percent of Scheduled Tribe People</a>
              <a id="P_06" class="dropdown-item" href="#">Percent of Children (0-6 Age Group)</a>
              <a id="Households" class="dropdown-item" href="#">Total Households</a> 
            </div>
          </div>
        </div>
        <div id="map-results" class="results-box">
          
          <div class="card map-card open-result-card">
            <div class="card-body">
              <p class="card-title chart-title" id="chart-title"></p>
              <div id="barchart_material_best" class="result-chart"></div>
              <div id="barchart_material_worst" class="result-chart"></div>
              <p class="card-title chart-title" id="map-title"></p>
              <div id="map_div" class="result-india"></div> 
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
  <!--
    <div id="buttonFamily" style="display:none;">
              <span class="btngroup customgrp">
                  <button onclick="javascript:mapShowPop(this.id)" id="TOT_M" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="TOT_P" class="btngroup--btn">Total Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="TOT_F" class="btngroup--btn small f">F</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="M_SC" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="P_SC" class="btngroup--btn">SC Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="F_SC" class="btngroup--btn small f">F</button>
              </span>
              <br><br>
              <span class="btngroup customgrp">
                  <button onclick="javascript:mapShowPop(this.id)" id="M_ST" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="P_ST" class="btngroup--btn">ST Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="F_ST" class="btngroup--btn small f">F</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="MAIN_AL_M" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="MAIN_AL_P" class="btngroup--btn">Farmers' Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="MAIN_AL_F" class="btngroup--btn small f">F</button>
              </span>
              <br><br>
              <span class="btngroup customgrp">
                  <button onclick="javascript:mapShowPop(this.id)" id="TOT_WORK_M" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="TOT_WORK_P" class="btngroup--btn">Employed Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="TOT_WORK_F" class="btngroup--btn small f">F</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="NON_WORK_M" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="NON_WORK_P" class="btngroup--btn">Unemployed Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="NON_WORK_F" class="btngroup--btn small f">F</button>
              </span>
              <br><br>
              <span class="btngroup customgrp">
                  <button onclick="javascript:mapShowPop(this.id)" id="M_LIT" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="P_LIT" class="btngroup--btn">Literate Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="F_LIT" class="btngroup--btn small f">F</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="M_ILL" class="btngroup--btn small m">M</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="P_ILL" class="btngroup--btn">Illiterate Population</button>
                  <button onclick="javascript:mapShowPop(this.id)" id="F_ILL" class="btngroup--btn small f">F</button>
              </span>
          </div>
          <br><br>
    justify-content-md-center
    <div class="custom-search" >
      <i class="material-icons md-24" id="s_icosn">search</i>
    </div>
    <div class="custom-close" >
      <i class="material-icons md-24" id="c_icon">close</i>
    </div>
  -->
</body>


</html>