<!DOCTYPE html>
<html>

<head>
  
    <title>Statistics Wise Census</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

</head>

<body>

    <h1><center>Statistics Wise Census</Center></Canvas></center></h1>
    <br><br>

    <center>
        <button>Population</button>
        <button>Households</button>
        <button>Resources and Facilities</button>

        <!-- These buttons will lead to another set of buttons under the particaular category -->
        <!-- Upon clicking the final button we get to the result page where the result will be shown-->
    
    </center>

</body>

</html> 