<!DOCTYPE html>
<html>

<head>

    <title>Statistics</title>

    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="styles/statistics.css">
    <link rel="stylesheet" href="styles/circle.css">
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    
</head>

<body>
    <center>
        <div class="container">
            <svg version="1.1" class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
                 viewBox="0 0 42 42" enable-background="new 0 0 42 42" xml:space="preserve">
            
            <path class="path one" fill="#cbcbcb" d="M42,21L42,21c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2v0c0-1.1,0.9-2,2-2H40C41.1,19,42,19.9,42,21z" cx="0" cy="0" />
            <path class="path two" fill="#cbcbcb" d="M21,42L21,42c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h0c1.1,0,2,0.9,2,2V40C23,41.1,22.1,42,21,42z" cx="10" cy="10" />
            </svg>

            <span id="option1">Select a Statistic</span>
            <ul class="list">
              <li><a href="#">Population</a></li>
              <li><a href="#">Literacy Rate</a></li>
              <li><a href="#">Unemployement Rate</a></li>
              <li><a href="#">Percent of Agricultural Labourers</a></li>
              <li><a href="#">Total Households</a></li>
            </ul>             
        </div>
        <br><br>
        <div id="barchart_material" style="width: 900px; height: 300px;"></div>
        <br><br>
        <div id="buttonFamily" style="display:none;">
            <span class="btngroup">
                <button onclick="javascript:mapShowPop(this.id)" id="TOT_M" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="TOT_P" class="btngroup--btn">Total Poppulation</button>
                <button onclick="javascript:mapShowPop(this.id)" id="TOT_F" class="btngroup--btn small f">F</button>
                <button onclick="javascript:mapShowPop(this.id)" id="M_SC" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="P_SC" class="btngroup--btn">SC Population</button>
                <button onclick="javascript:mapShowPop(this.id)" id="F_SC" class="btngroup--btn small f">F</button>
            </span>
            <br><br>
            <span class="btngroup">
                <button onclick="javascript:mapShowPop(this.id)" id="M_ST" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="P_ST" class="btngroup--btn">ST Population</button>
                <button onclick="javascript:mapShowPop(this.id)" id="F_ST" class="btngroup--btn small f">F</button>
                <button onclick="javascript:mapShowPop(this.id)" id="MAIN_AL_M" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="MAIN_AL_P" class="btngroup--btn">Farmers' Population</button>
                <button onclick="javascript:mapShowPop(this.id)" id="MAIN_AL_F" class="btngroup--btn small f">F</button>
            </span>
            <br><br>
            <span class="btngroup">
                <button onclick="javascript:mapShowPop(this.id)" id="TOT_WORK_M" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="TOT_WORK_P" class="btngroup--btn">Employed Population</button>
                <button onclick="javascript:mapShowPop(this.id)" id="TOT_WORK_F" class="btngroup--btn small f">F</button>
                <button onclick="javascript:mapShowPop(this.id)" id="NON_WORK_M" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="NON_WORK_P" class="btngroup--btn">Unemployed Population</button>
                <button onclick="javascript:mapShowPop(this.id)" id="NON_WORK_F" class="btngroup--btn small f">F</button>
            </span>
            <br><br>
            <span class="btngroup">
                <button onclick="javascript:mapShowPop(this.id)" id="M_LIT" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="P_LIT" class="btngroup--btn">Literate Population</button>
                <button onclick="javascript:mapShowPop(this.id)" id="F_LIT" class="btngroup--btn small f">F</button>
                <button onclick="javascript:mapShowPop(this.id)" id="M_ILL" class="btngroup--btn small m">M</button>
                <button onclick="javascript:mapShowPop(this.id)" id="P_ILL" class="btngroup--btn">Illiterate Population</button>
                <button onclick="javascript:mapShowPop(this.id)" id="F_ILL" class="btngroup--btn small f">F</button>
            </span>
        </div>
        <br><br>
        <div id="regions_div" style="width: 900px; height: 500px;"></div> 

        <!--<div id="donutchart" style="width: 200px; height: 200px;"></div>-->

    </center>

</body>

<!-- Link the js files-->
<script type="text/javascript" src="scripts/utils.js"></script>
<script type="text/javascript" src="scripts/statistics.js"></script>    

</html> 