@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

@font-face {
    font-family: 'Samarkan';
    src: url('/fonts/samarkan.TTF');
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { 
    font-size: 24px; 
    padding: 3px 3px 3px 3px;
}
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.custom-search {
    position: absolute;
    width: 30px;
    height: 30px;

    top: 60px;
    left: 1000px;

    overflow: hidden;
}

.custom-close {
    position: absolute;
    width: 30px;
    height: 30px;

    top: 90px;
    left: 1000px;

    overflow: hidden;
}

.html {
    height: 100%;
}
.body {
    min-height: 100%;
}
.div {
    display: block;
}

.title {
    position: relative;
    height: 50vh;
    width: 100vw;
    text-align: center;
}

#indian {
    font-family: 'Samarkan', serif;
    font-size: 6.25vw;
    white-space:pre;
}

#normal {
    font-family: 'Lora', serif;
    font-size: 5.20vw;

}

.title-text {
    padding: 35vh 0 0 0;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 8px rgba(49, 49, 49, 0.492);
    /*text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    */
}

.bg{
    background-image: url("../images/colors.jpg");

    /*height: 100%;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-layer{
    background-color: rgba(36, 36, 36, 0.274);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 60vh;*
    margin-bottom: auto;*/
    border: 0;
    width: 53.33vw;
    max-width: 100%;
    height: 20vh;

    padding: 0 0.52vw 0 0.52vw;

    display: block;
}

.results-box {
    position: relative;
    width: 100%;
    max-width: 53.33vw;
    height: 10.23vh;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 100px;*/
    border: 0;
}

.result-btn {
    margin: 0.511px 0.26vw;
    height: 4.29vh;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    font-size: 1.63vh;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 52.29vw;
    max-width: 100%;
    height: 5.11vh;
    padding: 0.81vh 1.04vw;
    min-height: 0.75cm;
    font-size: 1.84vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 3.07vh;

    border-style: none;
    border: 1px solid rgb(224, 224, 224);
    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
            border-radius: 3px;
    outline: none;

    background: rgba(255, 255, 255, 1.0);
    box-shadow: rgba(49, 49, 49, 0.492) 0px 4px 8px;

    color: rgb(0, 0, 0)
}

.typeahead {
    margin: 3vh 0 0 0;
}

.typeahead:focus {
    padding: 0.81vh 1.04vw;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: rgba(49, 49, 49, 0.692) 0px 8px 15px;
}

.typeahead:hover {
    border: 1px solid rgb(224, 224, 224);
    box-shadow: rgba(49, 49, 49, 0.692) 0px 8px 15px;
}

.tt-query {
    box-shadow: rgba(49, 49, 49, 0.692) 0px 8px 15px;
}

.tt-hint {
  color: rgb(121, 121, 121)
}

.tt-menu {
  width: 100%; 
  margin: 0.40vh 0;
  padding: 0.81vh 0;
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
    border-radius: 3px;  
    box-shadow: rgba(75, 72, 72, 0.1) 0px 8px 15px;
}

.tt-suggestion {
  padding: 0.511vh 1.04vw;
  line-height: 3.07vh;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.btn-group span {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	border: 1px solid white;
	border-radius: 3px;
	font-weight: 400;
}

/*
.search-field {
    width: 1000px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(75, 72, 72, 0.1) 0px 8px 15px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 10px 75px 10px 20px;
    background: white;
    border-radius: 3px;
    transition: all 0.4s ease 0s;

    border-style: initial;
    border-color: initial;
    border-image: initial;
}
*/