@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

@font-face {
    font-family: 'Samarkan';
    src: url('/fonts/samarkan.TTF');
}

svg > g > g:last-child { pointer-events: none }

.html {
    height: 100%;
}
.body {
    min-height: 100%;
}
.div {
    display: block;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.custom-container {
    min-height: vh;
    min-width: vw;
}

.container-fluid {
    position: absolute;
    top:0;
    left:0;
}
/* Background */
.bg{
    /* position: absolute; */
    /* top:0; */
    /* left:0; */
    /* position: fixed; */
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url("../images/colors.jpg");
    min-height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-layer{
    background-color: rgba(36, 36, 36, 0.274);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
}

/* Nav Bar */

.nav-item {
    margin: 5px 5px 0px 5px;
    font-family: 'Open Sans', 'sans-serif';
    /* float: right; */
}

.nav-pills .nav-link {
    color: white;
}

.nav-pills .nav-link.active{
    color: black;
    background-color: #fff;
}


/* Title */
.title {
    position: relative;
    height: 47.5vh;
    width: 100%;
    text-align: center;
}

#indian {
    font-family: 'Samarkan', serif;
    font-size: 6.25vw;
    white-space:pre;
}

#normal {
    font-family: 'Lora', serif;
    font-size: 5.20vw;

}

.title-text {
    padding: 32.5vh 0 0 0;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 8px rgba(49, 49, 49, 0.492);
    /*text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    */
}

/* Search Bar*/
.search-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 60vh;*
    margin-bottom: auto;*/
    border: 0;
    width: 53.33vw;
    max-width: 100%;
    height: 10vh;

    padding: 0 0.52vw 0 0.52vw;

    display: block;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 52.29vw;
    max-width: 100%;
    height: 5.11vh;
    padding: 0.81vh 1.04vw;
    min-height: 0.75cm;
    font-size: 1.84vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 3.07vh;

    border-style: none;
    border: 1px solid rgb(224, 224, 224);
    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
            border-radius: 3px;
    outline: none;

    background: rgba(255, 255, 255, 1.0);
    box-shadow: rgba(49, 49, 49, 0.492) 0px 4px 8px;

    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.typeahead {
    margin: 3vh 0 0 0;
}

.typeahead:focus {
    padding: 0.81vh 1.04vw;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: rgba(49, 49, 49, 0.692) 0px 8px 15px;
}

.typeahead:hover {
    border: 1px solid rgb(224, 224, 224);
    box-shadow: rgba(49, 49, 49, 0.692) 0px 8px 15px;
}

.tt-query {
    box-shadow: rgba(49, 49, 49, 0.692) 0px 8px 15px;
}

.tt-hint {
  color: rgb(121, 121, 121)
}

.tt-menu {
  width: 100%; 
  margin: 0.40vh 0;
  padding: 0.81vh 0;
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
    border-radius: 3px;  
    box-shadow: rgba(75, 72, 72, 0.1) 0px 8px 15px;
}

.tt-suggestion {
  padding: 0.511vh 1.04vw;
  line-height: 3.07vh;
  font-size: 1.84vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 3.07vh;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* Result Box*/
.results-box {
    position: relative;
    width: 100%;
    max-width: 500%;
    /* height: 95vw; */
    padding-left: 20px;
    padding-right: 20px; 
    /*margin-top: 100px;*/
    border: 0;
    margin-bottom: 20px;
}

::-webkit-scrollbar { 
    display: none; 
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        opacity: 1;
        width: 20vw;
        margin-right: 10px;
        margin-left: 10px;
    }
    100% {
        opacity: 0;
        width: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

.map-card {
    height: 138vh;
    width: 52.29vw;
    margin: auto;
    background: rgba(255, 255, 255, 1.0);
    box-shadow: rgba(49, 49, 49, 0.492) 0px 4px 8px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
}

.result-india {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-chart {
    height: 27.7vh;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.chart-title {
    font-weight: medium;
    font-variant: small-caps;
    font-size: 3.24vh;
    margin-left: 5px;
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
}

.long-btn {
    width: 52.29vw;
    max-width: 100%;
    height: 5.11vh;
    padding: 0.81vh 1.04vw;
    min-height: 0.75cm;
    font-size: 1.84vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 3.07vh;

    border-style: none;
    border: 1px solid rgb(224, 224, 224);
    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
            border-radius: 3px;
    outline: none;

    background: rgba(255, 255, 255, 1.0);
    box-shadow: rgba(49, 49, 49, 0.492) 0px 4px 8px;

    color: rgb(0, 0, 0);
    transition: 0.3s;
    margin: 3vh 0 0 0;
}

.close-icon {
    cursor: pointer;
}

.results-box > .row {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 0 0 0;
  }
.results-box > .row > .result-card {
    display: inline-block;
    float: none;
  }

.close-result-card {
    animation: slide-down 0.5s ease;
    opacity: 0;
}
.open-result-card {
    animation: slide-up 0.5s ease;
    opacity: 1;
}

.result-card {
    width: 20vw;
    margin-top: 5.09vh;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5.09vh;
    font-family: 'Open Sans', sans-serif;
    float: none;
    box-shadow: rgba(49, 49, 49, 0.492) 0px 4px 4px;
    transition: 0.3s;
    
}

.result-card:hover {
    box-shadow: rgba(49, 49, 49, 0.692) 0px 8px 8px;
    /* margin-top: 0px; */
    transform: scale(1.05)
}

.result-btn {
    margin: 0.511vh 0.26vw;
    height: 4.29vh;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    font-size: 1.63vh;
}

.result-text-title {
    font-family: 'Open Sans', sans-serif;
    margin: 2px auto;
    text-align: center;
    font-size: 14px;
}

.result-text {
    font-family: 'Open Sans', sans-serif;
    margin: 2px auto;
    text-align: center;
    font-size: 20px;
}

.result-map {
    margin: 0px auto 5px;
    width: 100%;
    height: 18.51vh;
    border-radius: 3px;
}

.result-title {
    font-weight: medium;
    font-variant: small-caps;
    font-size: 2.31vh;
    margin-left: 5px;
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
}
hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.dark-hr { 
    border-color: rgb(255, 255, 255)
}

.result-pop-graph {
    margin: 20px auto 20px;
    width: 100%;
    height: 23.14vh;
}

.close {
    float: right;
}
/*
.search-field {
    width: 1000px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(75, 72, 72, 0.1) 0px 8px 15px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 10px 75px 10px 20px;
    background: white;
    border-radius: 3px;
    transition: all 0.4s ease 0s;

    border-style: initial;
    border-color: initial;
    border-image: initial;
}
*/