<!DOCTYPE html>
<html>

<head>
  
    <title>How India Lives</title>
    <link rel="stylesheet" href="styles/index_page.css">

</head>

<body>

    <h1 style="padding-top: 12%"><center>How India Lives</center></h1>
    

    <center>
        <div class="row" style="padding-top: 4%">
            <!--<div class="col-md-6">
                <a href="state">View State Wise Census</a>
                <div class="help-tip">
                        <p>Click this to view all the census data of a particular state or district.</p>
                </div>
            </div> -->
            <div class="col-md-4">
                <a href="search">
                    Search
                </a>
            </div>
            <div class="col-md-4">
                <a href="statistics">Statistics</a>
                <div class="help-tip">
                        <p>Click this to view the all the state and district standings for a specifically selected feature in the census data.</p>
                </div>
            </div>
            <div class="col-md-4">
                <a href="map">
                    Map
                </a>
            </div>
        </div> 

    </center>


</body>

<!-- Link the js file-->
<script type="text/javascript" src="scripts/index_page.js"></script>

</html> 